DATABASE_URL=postgresql://postgres:[PASSWORD]@db.yjzgiunyjmjftpmhezuk.supabase.co:5432/postgres
SECRET_KEY=kdp-creator-suite-secret-key-2024
JWT_SECRET_KEY=kdp-jwt-secret-key-2024
SUPABASE_URL=https://yjzgiunyjmjftpmhezuk.supabase.co
SUPABASE_ANON_KEY=sb_publishable_uXl7Xz9j3Umko-7sZiZsBA_0dCFiU3K
